<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pico.covoitapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".BusinessLogic.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.SearchActivity" />
        <activity android:name=".UI.Login.RegisterActivity" />
        <activity android:name=".UI.Login.LoginSuccessActivity" />
        <activity android:name=".UI.CovoiturageDetailsActivity" />
        <activity android:name=".UI.DashboardActivity" />
        <activity android:name=".UI.AddActivity" />
        <activity android:name=".UI.MessageActivity" />
        <activity android:name=".UI.MessageDetailsActivity" />
        <activity android:name=".UI.ReservationActivity" />
        <activity android:name=".UI.ReservationDetailsActivity" />
        <activity android:name=".UI.EditUtilisateurActivity"></activity>
    </application>

</manifest>